POSTGRES_DB=dms
POSTGRES_USER=dms_user
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=db
POSTGRES_PORT=5432
DJANGO_SECRET_KEY=change_me
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=192.168.1.100,localhost,127.0.0.1
MEILI_HOST=http://meilisearch:7700
MEILI_MASTER_KEY=change_me
ROOT_USERNAME=root
ROOT_PASSWORD=change_me_strong
SESSION_IDLE_TIMEOUT_MINUTES=30
SESSION_ABSOLUTE_TIMEOUT_HOURS=12
