# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
*.sqlite3

# Environments
.env
.env.local
.env.*.local

# Node
node_modules/
dist/
dist-ssr/
*.local

# Docker logs
*.log

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Playwright
test-results/
playwright-report/
blob-report/

# Cli
.agent/
graphify-out/

# SSL certificates and binary
mkcert
certs/